body{
    font-family: 'Merriweather', serif;
    margin: 0;
    text-align: center;
    color: #40514E
}

h1{
    color: #66BFBF;
    font-family: 'Sacramento', cursive;
    font-size: 4.375rem;
    margin: 60px auto 0 auto;
}

h2{
    color: #66BFBF;
    font-family: 'Montserrat', sans-serif;
}

h3{
    color: #66BFBF;
    font-family: 'Montserrat', sans-serif;
}

a{
    color: #159895;
    text-decoration: none;
    margin: auto 20px;
}

a:hover{
    color: #D7FFDF;
}

hr{
    border-style: none;
    border-top-style: dotted;
    border-color: lightgrey;
    border-width: 5px;
    width: 3%;
    margin: 60px auto 100px;
}

p{
    line-height: 2;
}

            /* CSS CLASSES */
.top-div{
    background-color: #C7E9B0;
    position: relative;
}

.h1{
    font-weight: bolder;
}

.h2{
    font-weight: normal;
}

.sub-top-div{
    padding-top: 50px;
    margin-bottom: 50px;
} 

.profile{
    padding-top: 100px;
    width: 50%;
    margin: auto;
}

.first-cloud{
    position: absolute;
    right: 300px;
    top: 50px;
}

.second-cloud{
    position: absolute;
    left: 250px;
    bottom: 220px;
}

.middle-div{
    margin: auto;
}

.guitar{
    width: 25%;
    float: right;
    margin-left: 20px;
}
.work{
    width: 25%;
    float: left;
    margin-right: 20px;
} 

.sub-middle-div{
    text-align: left;
    width: 50%;
    margin: auto;
}

.button{
text-decoration: none;
}

.footer{
    background-color: #66BFBF;
    padding: 40px 0 20px;
    margin-top: 60px;
}

.music{
    margin: 0 auto 100px auto;
}

.design{
    margin: 100px auto 100px auto;
}

.h3{
    text-decoration: none;
}

.paragraph{
    width: 20%;
    margin: auto;
    padding: 30px 0 50px;
}

      /* ID */

#skills{
    text-align: center;
}

.button {
  background: #B9EDDD;
  background-image: -webkit-linear-gradient(top, #B9EDDD, #66bfbf);
  background-image: -moz-linear-gradient(top, #B9EDDD, #66bfbf);
  background-image: -ms-linear-gradient(top, #B9EDDD, #66bfbf);
  background-image: -o-linear-gradient(top, #B9EDDD, #66bfbf);
  background-image: linear-gradient(to bottom, #B9EDDD, #66bfbf);
  -webkit-border-radius: 15;
  -moz-border-radius: 15;
  border-radius: 15px;
  text-shadow: 1px 1px 3px #666666;
  font-family: 'Merriweather', serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.button:hover {
  background: #27E1C1;
  background-image: -webkit-linear-gradient(top, #27E1C1, #0EA293);
  background-image: -moz-linear-gradient(top, #27E1C1, #0EA293);
  background-image: -ms-linear-gradient(top, #27E1C1, #0EA293);
  background-image: -o-linear-gradient(top, #27E1C1, #0EA293);
  background-image: linear-gradient(to bottom, #27E1C1, #0EA293);
  text-decoration: none;
}

.copywrite{
    color: #D7FFDF;
    font-size: 10px;
    padding-top: 10px;
}